# dependencies
/node_modules/

# environment files
# .env

# build and dist folders
/build/
/dist/
/. parcel-cache
/.cache

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor settings
.vscode/
.DS_Store
